In [287]:
import pandas as pd

In [288]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
    index=['Utah', 'Ohio', 'Texas', 'Oregon'])

In [289]:
frame

               b         d         e
Utah   -0.186328 -0.384054  1.408577
Ohio    0.175089  0.042589  0.333675
Texas   0.837986  0.014293  2.143973
Oregon -0.375572 -0.058448 -0.867350

In [293]:
np.abs(frame)

               b         d         e
Utah    0.186328  0.384054  1.408577
Ohio    0.175089  0.042589  0.333675
Texas   0.837986  0.014293  2.143973
Oregon  0.375572  0.058448  0.867350

In [294]:
frame

               b         d         e
Utah   -0.186328 -0.384054  1.408577
Ohio    0.175089  0.042589  0.333675
Texas   0.837986  0.014293  2.143973
Oregon -0.375572 -0.058448 -0.867350

In [291]:
f = lambda x: x.max() - x.min()

In [292]:
frame.apply(f)

b    1.213557
d    0.426643
e    3.011323
dtype: float64