In [139]:
import pandas as pd

In [140]:
obj = pd.Series(range(3), index=['a', 'b', 'c'])

index = obj.index

In [141]:
index

Index(['a', 'b', 'c'], dtype='object')

In [142]:
index[1:]

Index(['b', 'c'], dtype='object')

In [143]:
index[1] = 'd'

TypeError: Index does not support mutable operations

In [144]:
labels = pd.Index(np.arange(3))

In [145]:
labels

Int64Index([0, 1, 2], dtype='int64')

In [146]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)

In [147]:
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [148]:
obj2.index is labels

True

In [149]:
frame3

state  Nevada  Ohio
year
2001      2.4   1.7
2002      2.9   3.6
2000      NaN   1.5

In [150]:
frame3.columns

Index(['Nevada', 'Ohio'], dtype='object', name='state')

In [151]:
'Ohio' in frame3.columns

True

In [152]:
2003 in frame3.index

False

In [153]:
dup_labels = pd.Index(['foo', 'foo', 'bar', 'bar'])

In [154]:
dup_labels

Index(['foo', 'foo', 'bar', 'bar'], dtype='object')