In [75]:
!pip3 install pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/c3/e2/00cacecafbab071c787019f00ad84ca3185952f6bb9bca9550ed83870d4d/pandas-1.1.5-cp36-cp36m-manylinux1_x86_64.whl (9.5MB)
     |████████████████████████████████| 9.5MB 7.1MB/s eta 0:00:01
Collecting pytz>=2017.2
  Downloading https://files.pythonhosted.org/packages/d3/e3/d9f046b5d1c94a3aeab15f1f867aa414f8ee9d196fae6865f1d6a0ee1a0b/pytz-2021.3-py2.py3-none-any.whl (503kB)
     |████████████████████████████████| 512kB 83.6MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas) (1.18.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas) (1.13.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.1.5 pytz-2021.3
WARNING: You are using pip version 19.3.1; however, version 21.3.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [76]:
import pandas as pd

In [77]:
obj = pd.Series([4, 7, -5, 3])

In [78]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [79]:
obj.values

array([ 4,  7, -5,  3])

In [80]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [81]:
obj2 = pd.Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c'])

In [82]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [83]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [84]:
obj2['a']

-5

In [85]:
obj2['d'] = 6

In [86]:
obj2[['c', 'a', 'd']]

c    3
a   -5
d    6
dtype: int64

In [87]:
obj2[obj2 > 0]

d    6
b    7
c    3
dtype: int64

In [88]:
obj2 * 2

d    12
b    14
a   -10
c     6
dtype: int64

In [89]:
import numpy as np

In [90]:
np.exp(obj2)

d     403.428793
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [91]:
'b' in obj2

True

In [92]:
'e' in obj2

False

In [93]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [94]:
obj3 = pd.Series(sdata)

In [95]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [97]:
states = ['California', 'Ohio', 'Oregon', 'Texas']

obj4 = pd.Series(sdata, index=states)

In [98]:
obj4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [99]:
obj3 + obj4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [100]:
obj4.name = 'population'
obj4.index.name = 'state'

In [101]:
obj4

state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64

In [102]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

In [103]:
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']

In [104]:
obj

Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64